html,
body {
  min-height: 100vh;
}

#dock-app.tooltip {
  padding: $spacer * 0.25 $spacer * 0.75;
  color: #fff;
  border: 0.5px solid rgba(#fff, 0.5);
  border-radius: $spacer * 0.25;
  background-color: rgba(0, 0, 0, 0.25);
}
